footer {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
    border: solid black 2px;
}

footer p + p {
    margin-top: 0.5rem;
}
